#Port Configuration
# Default port is 3006, you can change it if needed
PORT=3006

# This decides what db to use: postgres, mysql, sqlite
DB_TYPE=sqlite

# SQLite db url
DATABASE_URL=sqlite:./database/messages.db

# For Postgres
# PG_HOST=localhost
# PG_PORT=5432
# PG_USER=your_pg_user
# PG_PASSWORD=your_pg_password
# PG_DATABASE=your_pg_db

# For MySQL
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=your_mysql_user
# MYSQL_PASSWORD=your_mysql_password
# MYSQL_DATABASE=your_mysql_db